:root {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: #6d7f97;
  font-size: 13px;
  font-family: Manrope;
  background-color: #EDF2F8;
  min-height: 100vh; }

img {
  height: 100%;
  width: auto; }

.wrapper {
  width: 87.5%;
  margin: 0 auto; }

@media (min-width: 720px) {
  .wrapper {
    max-width: 720px; } }

.article {
  border-radius: 1em;
  background-color: white;
  transform: translateY(8%);
  overflow: hidden; }
  .article__image img {
    display: block;
    object-fit: cover;
    object-position: 10% 50%;
    height: 30vh;
    width: 100%; }
  .article__content {
    padding: 2.5em 2.5em 0; }
  .article__title {
    color: #48556a;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1em; }
  .article__desc {
    line-height: 1.6; }
  .article__meta {
    margin-right: auto; }
  .article__author {
    height: 5em;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .article__author-name {
    font-weight: 700; }
  .article__date {
    color: #9eafc2;
    align-self: flex-start; }
  .article__share {
    height: 2.5em;
    width: 2.5em;
    background-color: #EDF2F8;
    border-radius: 50%;
    position: relative; }
    .article__share--active {
      background-color: #6d7f97; }
  .article__share-image {
    height: 2.5em;
    width: 2.5em;
    position: absolute;
    top: 0.7em;
    left: 0.7em;
    fill: #6E8098; }
    .article__share-image--active {
      fill: white; }
  .article__author-image {
    height: 3em;
    width: 3em;
    margin-right: 1.5em; }
    .article__author-image img {
      border-radius: 50%; }
  .article__social {
    display: none; }
  .article__social.active {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 0 2.5em;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: 100%;
    background-color: #48556a; }
    .article__social.active p {
      color: #9eafc2;
      text-transform: uppercase;
      letter-spacing: 0.5em; }
  .article__social-list {
    height: 20px;
    margin: 0 auto 0 1.5em; }
  .article__social-item {
    display: inline-block;
    height: 20px;
    width: 32.5px; }

@media (min-width: 720px) {
  .article {
    overflow: initial;
    display: flex; }
    .article__image {
      overflow: hidden;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em; }
      .article__image img {
        height: 100%; }
    .article__content {
      padding: 2.5em 2.5em 1em; }
    .article__social.active {
      overflow: initial;
      width: 20.2em;
      left: initial;
      right: -82px;
      bottom: 6.9em;
      height: 4em;
      border-radius: 0.5em; }
      .article__social.active::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 3.9em;
        transform: translateX(-50%);
        border: 1em solid transparent;
        border-top-color: #48556a; }
    .article__share--active {
      position: absolute;
      bottom: -60px;
      left: 115px; }
    .article__social-item {
      overflow: hidden; } }
