* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 13px;
  overflow-x: hidden; }

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.5; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ecf2f8; }

.article-preview {
  display: flex;
  max-width: 730px;
  min-height: 280px;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }

.article-image-box {
  flex: 0 0 37.5%;
  display: block; }

.article-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 15% 80%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.content {
  display: flex;
  flex-direction: column;
  padding: 35px;
  justify-content: space-between; }
  .content__title {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    color: #48556a; }
  .content__description {
    color: #6d7f97;
    font-weight: 500; }
  .content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.author-image-box {
  height: 40px;
  width: 40px; }

.author-image {
  height: 100%;
  width: 100%;
  border-radius: 50%; }

.share-icon-box {
  margin-left: auto;
  border-radius: 50%;
  background-color: #ecf2f8;
  height: 35px;
  width: 35px; }

.share-icon {
  height: 13px;
  width: 15px;
  fill: #6d7f97;
  transform: translate(70%, 60%); }

.article-about {
  display: flex;
  flex-direction: column;
  margin-left: 1em; }
  .article-about__author-name {
    font-weight: 700;
    color: #48556a; }
  .article-about__article-date {
    color: #9eafc2; }
