$dark-gray-blue: hsl(217, 19%, 35%);
$light-gray-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: $light-gray-blue;
  font-size: 13px;
  font-family: Manrope;
  background-color: #EDF2F8;
  min-height: 100vh;
}

img {
  height: 100%;
  width: auto;
}

.wrapper {
  width: 87.5%;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .wrapper {
    max-width: 720px;
    margin-top: 30vh;
  }
}
