$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 13px;
  overflow-x: hidden;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $light-grayish-blue;
}

.article-preview {
  display: flex;
  max-width: 730px;
  min-height: 280px;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.article-image-box {
  flex: 0 0 37.5%;
  display: block;
}

.article-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 15% 80%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 35px;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  &__description {
    color: $desaturated-dark-blue;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.author-image-box {
  height: 40px;
  width: 40px;
}

.author-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.share-icon-box {
  margin-left: auto;
  border-radius: 50%;
  background-color: $light-grayish-blue;
  height: 30px;
  width: 30px;
}

.share-icon-box:hover {
  background-color: $desaturated-dark-blue;
}

.share-icon-box:hover > .share-icon {
  fill: white;
}

.share-icon {
  height: 13px;
  width: 15px;
  fill: $desaturated-dark-blue;
  transform: translate(50%, 40%);
}

.article-about {
  display: flex;
  flex-direction: column;
  margin-left: 1em;

  &__author-name {
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  &__article-date {
    color: $grayish-blue;
  }
}

.share-tab {
  position: absolute;
  background-color: $very-dark-grayish-blue;
  width: 250px;
  padding: 1.25rem 2.25rem;
  border-radius: 0.5rem;
  top: 45%;
  right: 20%;
  display: none;
}

.active {
  display: block;
}

.share-tab::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 3.75rem;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top-color: $very-dark-grayish-blue;
}

.share {
  bottom: 200px;
  justify-content: space-around;
  align-items: center;
  display: flex;

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: $grayish-blue;
  }

  &__icons {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__icons > li:not(:last-child) {
    margin-right: 15px;
  }
}

.icon-element {
  height: 20px;
  width: 20px;

  &__image {
    fill: black;
    width: 100%;
    height: 100%;
  }
}
